<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".NatrajApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/natraj_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/natraj_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Natraj"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Natraj.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Natraj.NoActionBar" />

        <activity
            android:name=".AllProductsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ui.activities.CategoryProductsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ProductDetailActivity"
            android:exported="false"
            android:parentActivityName=".AllProductsActivity" />

        <activity
            android:name=".AddressActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".PaymentActivity"
            android:exported="false"
            android:parentActivityName=".AddressActivity" />

        <activity
            android:name=".OrderConfirmationActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".OrdersActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ui.activities.WishlistActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ui.activities.AccountDetailsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".BlogActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".BlogDetailActivity"
            android:exported="false"
            android:parentActivityName=".BlogActivity" />

        <activity
            android:name=".ErrorActivity"
            android:exported="false"
            android:theme="@style/Theme.Natraj.NoActionBar" />

        <activity
            android:name=".OrderFailureActivity"
            android:exported="false"
            android:theme="@style/Theme.Natraj.NoActionBar" />

        <activity
            android:name=".QuickCheckoutActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Natraj.NoActionBar" />

        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.Natraj.NoActionBar" />

        <activity
            android:name=".ui.activities.APIDebugActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ui.activities.WordPressSettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".util.kafka.KafkaNotificationService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>